* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #bf8444;
}

a:visited {
  text-decoration: none;
  color: #bf8444;
}

body {
  background-color: #fff;
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #bf8444;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  background-color: #fff;
  border-bottom: 1px solid #b9b9b9;
  text-align: center;
  transition: 0.3s;
}

nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
}

li:hover {
  cursor: pointer;
  color: #000436;
}

h1 {
  margin: 0;
  font-size: 4em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  margin-top: 0;
  margin-bottom: 5%;
  text-transform: uppercase;
}

.dark {
  background-color: #000436;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-width {
  width: 49%;
  display: inline-block;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('images/goat.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  padding: 2%;
}

.light {
  background-color: #fff;
}

.row {
  width: 100%;
  padding: 5% 10%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  nav ul {
    font-size: 0.9rem;
  }

  .flex-container {
    flex-direction: column;
  }

  .half-width {
    width: 100%;
  }

  .fas {
    padding-top: 10%;
  }

  .section-text {
    order: 1;
  }

  .section-icon {
    order: 2;
  }
}
