* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #bf8444;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  background-color: #fff;
  border-bottom: 1px solid #b9b9b9;
  text-align: left;
  transition: 0.3s;
}

nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  padding-right: 25px;
}

li:hover {
  cursor: pointer;
  color: #000436;
}

h1 {
  margin: 0;
  font-size: 4em;
}

h3 {
  font-size: 1.2em;
}

.dark {
  background-color: #000436;
}

.half-width {
  width: 49%;
  display: inline-block;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('images/goat.jpg');
  background-size: cover;
}

.light {
  background-color: #fff;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  padding: 5% 10%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
